
services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    environment:
      - PYTHONDONTWRITEBYTECODE=1
      - PYTHONUNBUFFERED=1
      - DB_NAME=mydb
      - DB_USER=myuser
      - DB_PASSWORD=mypassword
      - DB_HOST=db
      - DB_PORT=5432
    depends_on:
      - db
    restart: always
    command: >
      sh -c "
      until pg_isready -h db -p 5432 -U myuser; do
        echo 'Waiting for PostgreSQL...'; sleep 2;
      done;
      python manage.py migrate &&
      gunicorn freshyfishy.wsgi:application --bind 0.0.0.0:8000 --workers 3
      "


  frontend:
    build: ./frontend/iot_frontend
    ports:
      - "80:80"
    restart: always

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  postdata:
    image: curlimages/curl:8.8.0
    depends_on:
      - backend
    entrypoint: >
      sh -c "curl -X POST http://backend:8000/project/sensorDataDisplay/ -H 'Content-Type: application/json' -d '{\"temp\":25, \"ph\":7.5, \"tds\":250, \"waterLv\":95}'"


volumes:
  postgres_data:
